<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<div id = "header">
  <div id="nav">
    <p class="title">
   	 <a href="{{site.baseurl}}\index.html">Shady's Blog</a><span class="subtitle"><a href="{{site.baseurl}}\about.html">Fight for yourself!</span></a>
    </p>
    <ul id="navigation">
    	<li><a href = "{{site.baseurl}}\about.html">About</a></li>
    	<li><a href = "{{site.baseurl}}\collection.html">Collection</a></li>
    	<li><a href = "{{site.baseurl}}\blog.html">My Bolg</a></li>
   	<li><a href = "{{site.baseurl}}\index.html">Home</a></li>
    </ul>
  </div>
</div>
